@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 200;
    src: local('Futura light'), local('Futura-light'), url('/public/fonts/futura-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    src: local('Futura book'), local('Futura-book'), url('/public/fonts/futura-book.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 600;
    src: local('Futura medium'), local('Futura-medium'), url('/public/fonts/futura-medium.ttf') format('truetype');
}